header
  h1 Pomodoro Timer

.controls
  .session
    div Session Time
    button#session-minus -
    span 0
    button#session-plus +
  .break
    div Break Time
    button#break-minus -
    span 0
    button#break-plus +

.timer-display
  #time-display 0:00
  #message-display
  button#start Start
  .progress
    #progress-bg
      #progress-fg
